<div class="footer" *ngIf="fs.visible">
    <!-- Footer -->

    <div class="footer-content">
        <div class="footer-section about">
            <h1 class="logo-text"><span>Green</span>Freggies</h1>
            <p>
                Always ready to serve at your doorstep. Fresh Vegetables from the market to your kitchen just in few minutes.
            </p>

        </div>


        <div class="footer-section links">
            <h2>Quick Links</h2>
            <br>
            <ul>
                <a routerLink="/feedback">
                    <li>Feedback</li>
                </a>
                <a routerLink="/team">
                    <li>Team</li>
                </a>
                <a routerLink="/terms">
                    <li>Terms and Conditions</li>
                </a>
            </ul>
        </div>

        <div class="footer-section Social-media">
            <h2>Contact Us</h2>
            <div class="contact">
                <span><mat-icon>phone</mat-icon>123-456-789</span>
                <span> <mat-icon>email</mat-icon> GreenFreggie@gmail.com</span>
                <div class="socials">
                </div>
            </div>
        </div>
    </div>
</div>