<br>
<br>
<h1><b>Terms and Conditions</b></h1>
<div><b>Please read these conditions carefully before using the GreenFreggies website.</b>
</div><br>
<h4><b>Your Account</b><br> If you use the website, you are responsible for maintaining the confidentiality of your account and password and for restricting access to your computer to prevent unauthorised access to your account. You agree to accept responsibility
    for all activities that occur under your account or password. You should take all necessary steps to ensure that the password is kept confidential and secure and should inform us immediately if you have any reason to believe that your password has
    become known to anyone else, or if the password is being, or is likely to be, used in an unauthorised manner.<br>
    <b>Privacy</b><br> The personal information / data provided to us by you during the course of usage of GreenFreggies will be treated as strictly confidential and in accordance with the Privacy Notice and applicable laws and regulations. If you object
    to your information being transferred or used, please do not use the website.<br>
    <b>E-Platform for Communication</b><br> You agree, understand and acknowledge that the website is an online platform that enables you to purchase vegetables listed on the website at the price indicated there in at any time from any location.
</h4>